:global(.ui.form).form label {
  font-size: 1.2rem
}
.container {
  background-color: #fff;
  margin-top: 20px;
  padding: 40px 20px 20px;
}
.container h2 {
  text-align: center;
}
.desc {
  padding: 10px;
}
.svg {
  position: absolute;
  bottom: .5rem
}
.buttonText {
  padding-left: 2.3rem;
}

.hide {
  display:none;
}
