/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */

html {
  min-height: 100%;
}
li > p {
  margin-bottom: 0;
}

body {
  background: #f2f2f2;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
}
.only-mobile {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .ui.container {
  margin-right: 0 !important;
  margin-left: 0 !important;
  }
  .hide-mobile {
    display: none !important;
  }
  .only-mobile {
    display: initial !important;
  }
}

/* nav */
.navbar-wrapper {
  background-color: #333;
}
.navbar-wrapper .ui.inverted.menu.nav-bar {
  background-color: transparent;
}
.ui.inverted.menu .item {
  padding: 0;
}
.ui.inverted.menu .item a {
  padding: .92857143em 1.14285714em;
}
.pushable .ui.inverted.menu .item a {
  display: block;
}
.ui.inverted.menu .item.header a {
  padding: 0;
}
.ui.inverted.menu .item a.active {
    background: rgba(255,255,255,.15);
    color: #fff!important;
    font-weight: 400;
    box-shadow: none;
}
.button-menu.ui.inverted.button.active,
.ui.inverted.button:focus,
.button-menu.ui.inverted.button:hover {
    background: #222;
    color: initial;
}

/* Body Container */
.phenomic-HeadingAnchor {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* Side Menu is not shown when there is no content because footer not in Nav */
  .pushable {
    min-height: 100vh;
  }
}
/* body blocks */
/*.blocks .ui.grid > .column:not(.row),
.blocks .ui.grid> .row >.column {
  padding-right: 8px;
  padding-left: 8px;
}*/
.blocks {
  margin-top: 14px;
  margin-bottom: 5px;
}
.block {
  text-align: center;
}
.block p a {
  color: #333
}
.block-blocksaccueil,
.block-barrelaterale {
  background-color: #fff;
  height: 100%;
  padding: 20px 8px 10px;
}
.block h3 {
  font-weight: 300;
}

.block-blocksaccueil h3,
.block-barrelaterale h3 {
  font-size: 24px;
  font-size: 1.714rem;
}

.block-pieddepage h3 {
  font-size: 20px;
  /*font-size: 1.714rem;*/
}

.block-blocksaccueil .block-svg,
.block-barrelaterale .block-svg {
  display: block;
}

